# Arquivos de build
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages


# Arquivos de configuração local
.idea/
*.iml

# Outros arquivos temporários
*.log
*.tmp
*.bak

# Arquivos de chave (se você não quer versionar)
key.jks