<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.betdofeappnew">

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name="${applicationName}"
        android:label="betdofe_app_new"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/LaunchTheme"
        android:enableOnBackInvokedCallback="true"> <!-- Adicionado para suportar OnBackInvokedCallback -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Desativar Impeller e usar Skia -->
            <meta-data
                android:name="flutter.embedding.engine.renderBackend"
                android:value="skia" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Necessário para Flutter moderno -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- (Opcional) Firebase ou libs extras -->
        <!--
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        -->
        
    </application>
</manifest>